HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.yml
*.env
out/
src/main/resources/probable-skill-480215-i2-e03bdc4d0d4d.json
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### macOS System files ###
.DS_Store
.AppleDouble
.LSOverride

### Spring Boot local properties ###
application.yml
application.yaml
application-local.yml
application-local.yaml
application-local.properties
application-dev.yml
application-dev.yaml

### Shell Script Files ###
*.sh
### key stores ###
*.json
# Local logs
logs/
*.log
