<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <springProfile name="prod,dev">
        <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
            <http>
                <url>${logging.loki.url:-http://10.0.0.8:3100/loki/api/v1/push}</url>
                <connectionTimeoutMs>15000</connectionTimeoutMs>
                <requestTimeoutMs>10000</requestTimeoutMs>
            </http>
            <batch>
                <maxItems>1000</maxItems>
                <timeoutMs>10000</timeoutMs>
            </batch>
            <format>
                <label>
                    <pattern>app=learnflow-api,host=${HOSTNAME},level=%level</pattern>
                </label>
                <message>
                    <pattern>${FILE_LOG_PATTERN}</pattern>
                </message>
                <sortByTime>true</sortByTime>
            </format>
        </appender>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <springProfile name="prod,dev">
        <root level="INFO">
            <appender-ref ref="LOKI" />
        </root>
    </springProfile>
</configuration>
